{% load static %}
<html>
<head>
<title>forms</title>

</head>
<link rel="stylesheet" href="{% static 'complaint/contact.css' %}">
<body>
    <nav class="top">
    <font color="2C3333">"" </font>
        <a>Home</a>
            <a>Complaint</a>
            <a>Status</a>
            <a>Contact-Us</a>
    </nav><br>
    <div class="fun">
        <div class="head">
<font size="7" style="">Complaint Form</font><br>
<font size="2">Please fill all your details.</font>
</div>
<div class="name">
        <Label>Your Name:</Label><br>
        <input type="text" placeholder="Your Full Name">
             <Label>Your Reg No:</Label><br>
            <input type="number" placeholder="Your Reg No">
    </div>
    
            <div class="spec">
        <Label>Your Email:</Label><br>
        <input type="text" placeholder="Valid Email Address"><br><br>
        Subject<br>
        <select name="Subject:" id="Subject">
            <option value="">--Select your Query--</option>
            <option value="">Water Problem</option>
            <option value="">Electricity</option>
            <option value="">Housekeeping</option>
            <option value="">Others</option>
        </select><br><br>
        <Label>Message:</Label><br>
        <input type="text" placeholder="Your message to us" class="msg"><br><br>
        <input type="submit" value="Submit">
    </div>
</div><br><br>
</body>
</html>
